/* STYLING */

/* HEADER */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #33ffad;
}

/* HEADER */
#header {
    height: 100px;
    background: #333333;
    color: aqua;
    text-align: center;
    font-family: cursive;
    padding: 30px;
    font-size: 25px;
}

/* MAIN */
#main-content {
    background: white;
    width: 100%px;
    height: 800px;
    margin: 30px 100px;
}

#search-box {
    width: 450px;
    text-align: center;
    position: relative;
    top: 30px;
    margin: 0 auto;
}

#userlist {
    margin: 5px 100px;
}



/* FOOTER */
#footer {
    height: 100px;
    background: #333333;
    color: white;
    text-align: center;
    padding-top: 50px
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    color: cadetblue;
    text-decoration: underline;
}